:root {
  font-family: system-ui;
  line-height: 1.5;
}

html,
body {
  display: grid;
  height: 100%;
  margin: 0;
}

body {
  background: #fff;
}

#app {
  display: contents;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

h1,
h2 {
  line-height: 1.2;
}

h2 {
  font-size: 1.125rem;
}
